<div id="contents">
  <div class="login_signin clearfix">
    <div class="section well clearfix">
      <div class="column loginform">
        <h2><%= t :sign_up, :scope => "views.user" %></h2>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <dl>
            <dt><%= f.label :email %></dt>
            <dd><%= f.email_field :email, :class => "inputarea span4" %></dd>
            <dt><%= f.label :password %></dt>
            <dd><%= f.password_field :password, :class => "inputarea span4" %></dd>
            <dt><%= f.label :password_confirmation %></dt>
            <dd><%= f.password_field :password_confirmation, :class => "inputarea span4" %></dd>
          </dl>
          <ul class="btn_save">
            <li><%= f.submit t(:registration), :class => "btn" %></li>
            <li>or <%= link_to "Login", "/login" %></li>
          </ul>
        <% end %>
        <!--/column--></div>
      <div class="column auth">
        <h2>TwitterまたはFacebookをお持ちの方</h2>
        <ul class="auth_button">
          <li><%= link_to image_tag("common/ico_twitter.png") + "Using Twitter", "http://www.socialguidebook.org/users/auth/twitter", :class => "btn" %></li>
          <li><%= link_to image_tag("common/ico_facebook.png") + "Using Facebook", "http://www.socialguidebook.org/users/auth/facebook", :class => "btn" %></li>
        </ul>
        <!--/column--></div>
      <!-- /section --></div>
    <!--/login--></div>
  <!--/contents--></div>

<%# = render :partial => "devise/shared/links" %>
