<div id="contents_column2">
  <div id="frontpage_header">
    <h1 class="front_title">
      <%= link_to @page.show_title, page_path(@page) %>
    </h1>
    <p class="front_description"><%= @page.body %></p>
    <!--/frontpage_header--></div>
  <div class="frontpage clearfix">
    <div class="main">
      <div class="post_text floating clearfix post_form text">
        <%= render :partial => "shared/form_text" %>
      </div>
      <!--
      <div class="submenu">
        <ul class="browse clearfix">
          <li class="b00"><%= t :filter, :scope => :page %></li>
          <li class="b01"><%= link_to t(:text, :scope => :post_type), page_path(:post_type_id => PostType::Text.id), :remote => true %></li>
          <li class="b02"><%= link_to t(:text, :scope => :post_type), page_path(:post_type_id => PostType::Album.id), :remote => true %></li>
          <li class="b03"><%= link_to t(:text, :scope => :post_type), page_path(:post_type_id => PostType::Video.id), :remote => true %></li>
          </ul>
        </div>
      -->
      <span id="posts_list">
        <div id="spin" style="display:none"></div>
        <span id="posts"></span>
        <% if page.page? %>
          <% page.pages.all(:order => "total_count desc").each do |page| %>
            <%= render :partial => "shared/page", :locals => {:page => page} %>
          <% end %>
        <% end %>
        <% if posts.count > 0 %>
          <%= render :partial => "shared/posts", :locals => {:posts => posts} %>
          <% if post_page? %>
            <div id="comment-list">
              <%= render :partial => 'shared/comments', :locals => {:comments => @post.comments} %>
            </div>
            <div id="comment-form">
              <%= form_for Post.new, :url => post_comments_path(@post), :remote => true do |f| %>
                <%= render :partial => "shared/comment_form", :locals => {:f => f} %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </span>
      <!--/main--></div>

    <div class="side">
      <div class="section well">
        <div class="column clear photo_g">
          <% if @page.main_photo_path(root_url) %>
            <%= link_to image_tag(@page.main_photo_path(root_url)), page_path(@page) %>
          <% else %>
            <%= link_to image_tag("http://placehold.it/250x250"), page_path(@page) %>
          <% end %>
          <ul class="clearfix">
            <li><a href="#"><img src="http://placehold.it/47x47" /></a></li>
            <li><a href="#"><img src="http://placehold.it/47x47" /></a></li>
            <li><a href="#"><img src="http://placehold.it/47x47" /></a></li>
            <li><a href="#"><img src="http://placehold.it/47x47" /></a></li>
            <li><a href="#"><img src="http://placehold.it/47x47" /></a></li>
          </ul>
          <!--/column--></div>
        <p class="btn_follow"><a href="#">フォローする</a></p>
        <% if @page.admin?(current_user) %>
          <div class="column side_follower">
            <ul class="clearfix">
              <% @page.admins.each do |user| %>
                <li><%= link_to image_tag(user.image_path, :width => 32, :height => 32), person_path(user) %></li> 
              <% end %>
            </ul>
            <!--/column--></div>
        <% end %>
        <div class="column side_follower">
          <ul class="clearfix">
            <% @page.users.each do |user| %>
              <li><%= link_to image_tag(user.image_path, :width => 32, :height => 32), person_path(user) %></li> 
            <% end %>
          </ul>
          <!--/column--></div>

        <div class="column side_category">
          <h3 class="title">カテゴリ</h3>
          <ul class="clearfix">
            <li class="scat01"><a href="#">Stay</a></li>
            <li class="scat02"><a href="#">Activity</a></li>
            <li class="scat03"><a href="#">Food</a></li>
            <li class="scat04"><a href="#">Shopping</a></li>
            <li class="scat05"><a href="#">Event</a></li>
            <li class="scat06"><a href="#">Access</a></li>
            <li class="scat07"><a href="#">Tour</a></li>
            <li class="scat08"><a href="#">Traffic</a></li>
          </ul>
          <!--/column--></div>
        <div class="column map">
          <h3 class="title"><%= t :map, :scope => :page %></h3>
          <p class="gmap">
            <%= javascript_include_tag "https://www.google.com/jsapi?key=#{get_google_loader_key}" %>
            <script type="text/coffeescript">
              $ ->
                if google.loader.ClientLocation && google.loader.ClientLocation.address && google.loader.ClientLocation.address.country
                  $('#page_country').val google.loader.ClientLocation.address.country
            </script>
            <%= raw(GMap.header(:host => request.host)) %>
            <%= raw(@page.map(:draggable => false).to_html) %> <%= raw(@page.map.div(:width => 250, :height => 250)) %>
          </p>
          <!--/column--></div>
        <div class="column other">
          <ul>
            <li class="edit_design">
              <% if @page.admin?(current_user) %><%= link_to "Edit this page", edit_page_path(@page) %><% end %>
            </li>
          </ul>
          <!--/column--></div>
        <!-- /section --></div>
      <!--/side--></div>
    <!--/admin_set_account--></div>
  <!--/contents--></div>
<script type="text/coffeescript">
</script>

<script type="text/javascript">
  $(function(){
    $(".permission").hide();
    $("#post_permission_public").change(function(){
      if ($(this).attr("checked") == "checked") {
        $(this.form).find(".permission").hide();
        $(this.form).find(".token-input-list-facebook").remove();
        $(".post_form").colorbox.resize();
      } else {
        $(this.form).find(".permission").show();
        $("input[type=text].permission").tokenInput("<%= search_my_groups_url(:format => :json) %>", {
          theme: "facebook",
          propertyToSearch: "title",
          preventDuplicates: true
        });
        $(".post_form").colorbox.resize();
      }
    });
    $('.attach_description').hide();
    $('.swfupload-control').swfupload({
        // Backend Settings
        upload_url: "<%= upload_my_page_post_path(@page, @uuid) %>",    // Relative to the SWF file (or you can use absolute paths)
        // File Upload Settings
        file_size_limit : "102400", // 100MB
        file_types : "*.*",
        file_types_description : "All Files",
        file_upload_limit : "10",
        file_queue_limit : "0",
        // Button Settings
        button_image_url : "/images/XPButtonUploadText_61x22.png", // Relative to the SWF file
        button_placeholder_id : "spanButtonPlaceholder",
        button_width: 61,
        button_height: 22,
        // Flash Settings
        flash_url : "/flash/swfupload.swf",
    });
    var uploaded_files = 0;
    var upload_files = 0;
    // assign our event handlers
    $('.swfupload-control')
        .bind('fileQueued', function(event, file){
            // start the upload once a file is queued
            
            $('.photo_uploader').css({"visibility": "hidden", top: "0px", height: "0px", left: "0px", width: "0px"});
            $(this).swfupload('startUpload');
        })
        .bind('uploadComplete', function(event, file){
            uploaded_files += 1;
            $("#upload-status dd").text(uploaded_files+"/"+upload_files+" files upload");
            // start the upload (if more queued) once an upload is complete
            if (uploaded_files == upload_files) {
              $("#upload-status dd").text("Upload completed");
              $(".add_photo").colorbox.resize();
            }else{
            }
            $(this).swfupload('startUpload');
        })
        .bind('fileDialogComplete', function(event, numFilesSelected, numFilesQueued) {
          $('.attach_description').show();
          upload_files = numFilesSelected;
          $("#upload-status dd").text("0/"+numFilesSelected+" files upload");
          $(this).swfupload('startUpload');
          // $(".add_photo").colorbox.resize();
        });

});
</script>
