    <div id="div-process" style="display:none;">Processing request&hellip;</div>
    <div id="cont">
      <div id="head">
	<h1><%= link_to "Social Guidebook", my_root_path %></h1>
	<ul id="nav">
	  <li><%= link_to "View Top page", root_path %></li>
          <li><%= link_to "Log out", "/signout", :method => :delete %></li>
	</ul>
      </div>
      <div id="main">
	<div class="box">
	  <ul class="menu">
	    <h3>New Post</h3>
	    <li><a href="index.php?new=quote"><img src="/images/quote.png" alt="New qoute" /> Quote</a></li>
	    <li><a href="index.php?new=url"><img src="/images/world.png" alt="New link" /> Link</a></li>
	    <li><a href="index.php?new=video"><img src="/images/film.png" alt="New video" /> Video</a></li>
	    <li><a href="index.php?new=photo"><img src="/images/image.png" alt="New picture" /> Picture</a></li>
	    <li><%= link_to "Page", new_my_page_path %></li>
	    <li class="selected"><a href="index.php?new=post"><img src="/images/page.png" alt="New post" /> Post</a></li>
	  </ul>
	  <p>&nbsp;</p>
          <span id="new_form">
            <%= render :partial => "new_form" %>
          </span>
	  <div class="footer-box">&nbsp;</div>
	</div>
	<div class="box">
	  <ul class="menu manage">
	    <h3>Manage</h3>
	    <li><a href="settings.php">Settings</a></li>
	    <li><a href="options.php">Options</a></li>
            <li><a href="feeds.php">Feeds</a></li>
	    <li><a href="admin.php">Users</a></li>
	    <li><a href="comments.php">Comments</a></li>
	    <li class="selected"><a>Posts</a></li>
	  </ul>
          <span id="posts">
            <% @posts.each do |post|%>
              <%= render :partial => "shared/#{post.post_type.name.downcase}", :locals => {:post => post} %>
            <% end %>
          </span>
          <div class="pagination"></div>
          <div class="footer-box">&nbsp;</div>
        </div>
      </div>
      <div id="foot">
        <a href="http://www.gelatocms.com/" title="gelato CMS">gelato CMS</a> :: PHP/MySQL Tumblelog Content Management System.
      </div>
    </div>

